<div class='row'>
  <div class='col col-auto'>
    <h2>Welcome {{name}}!</h2>
  </div>
</div>

<div class='row'>
  <div class='col col-md-6'>
    <h4>Create a New Post:</h4>

    <form class="form post-submit">
      <div class='form-group'>
        <label for='title-input'>Title:</label>
        <input type='text' class='form-control' id='title-input' />
      </div>

      <div class='form-group'>
        <label for='text-area-input'>Content:</label>
        <textarea class='form-control' id='text-area-input' rows='3'></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>