{{#each blogPosts as |blogPost|}}
<div class="card">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
  <div class="card-footer text-muted">Posted by {{user.name}} on {{format_date date_created}}</div>
</div>
{{/each}}