<div class='row'>
  <div class='col col-6'>
    <h2>Login</h2>
    <form class='form' id="signin-form">
      <div class='form-group'>
        <label for='signInEmail'>Email address</label>
        <input type='email' class='form-control' id='signInEmail' />
      </div>

      <div class='form-group'>
        <label for='signInPassword'>Password</label>
        <input
          type='password'
          class='form-control'
          id='signInPassword'
          aria-describedby='passwordHelp'
        />
        <small id='passwordHelp' class='text-muted'>
          Must be at least 8 characters long.
        </small>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </form>
  </div>

  <div class='col col-6'>
    <h2>Sign Up</h2>
    <form class='form signup-form'>
      <div class='form-group'>
        <label for='signUpEmail'>Email address</label>
        <input
          type='email'
          class='form-control'
          id='signUpEmail'
          aria-describedby='emailHelp'
        />
        <small id='emailHelp' class='form-text text-muted'>We'll never share
          your email with anyone else.</small>
      </div>

      <label class='sr-only' for='SignUpUsername'>Username</label>
      <div class='input-group mb-2 mr-sm-2'>
        <div class='input-group-prepend'>
          <div class='input-group-text'>@</div>
        </div>
        <input
          type='text'
          class='form-control'
          id='signUpUsername'
          placeholder='Username'
        />
      </div>

      <div class='form-group'>
        <label for='signUpPassword'>Password</label>
        <input
          type='password'
          class='form-control'
          id='signUpPassword'
          aria-describedby='passwordHelp'
        />
        <small id='passwordHelp' class='text-muted'>
          Must be at least 8 characters long.
        </small>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>